<div class="height">
  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <div class="flex">
	<span>
	  satiator-ui
	</span>
	<span>
	  <a href="/settings"><mat-icon>settings</mat-icon></a>
	</span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="scroll">
    <div *ngFor="let game of games" class="list">
      <div class="horiz">
	<div (click)="navigate(game.id)" class="game">
	  {{ gameName(game.id) }}
	</div>
	<div>
	  <img [src]="game.tga" />
	</div>
      </div>
    </div>
  </div>
</div>
