div.drives { margin: 10px; max-width: 500px; display: flex; flex-direction: row; align-items: center; }
div.drives > div { margin: 10px; margin-right: 20px; }
div.drives > button { margin-left: 20px; }
